*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    --bg-color: #EDF2FF;
}

body.default
{ 
    --primary-color: rgb(214, 40, 40);
    --primary-color-hover: rgb(228, 77, 77); 

    transition: 450ms;
}

body.dark-mode
{
    --bg-color: #01061a;
    --color: white;
    --primary-color: rgb(117, 12, 19);
    --primary-color-hover: rgb(128, 21, 21); 

    transition: 450ms;
}

body
{
    background: var(--bg-color);
    color: var(--color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    margin: 0px;
    padding: 10px;
}

header nav
{   
    display: flex;
    gap: 40px;
}

header nav button.nav-button
{
    padding: 15px;
    align-items: center;
    border-radius: 20px;
    border: var(--primary-color) solid 2.7px;

    color: var(--color);
    background: var(--bg-color);

    transition: 450ms;
}

.caixa
{
    text-align: center;
    width: 300px;
    margin: 60px auto;
}

p
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-weight: 400;
    opacity: 0.6;
    font-size: 18px;
}

img
{
    width: 100%;
}

img.perfil
{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: var(--primary-color) solid 4px;
    padding: 3.7px;
}

img.github
{
    width: fit-content;
    height: fit-content;
    padding-right: 3px;
}

div.conteudo
{
    display: contents;
    flex-direction: row;
    
}

img.twitter
{
    width: fit-content;
    height: fit-content;
    padding-left: 6.5px;
    padding-right: 9.7px;
}

img.instagram
{
    width: fit-content;
    height: fit-content;
    padding-left: 6.5px;
    padding-right: 10px;
}

ul
{
    list-style: none;
    margin: 48px 0px;
}

a
{
    text-decoration: none;
    padding-right: 30px;
}

h1
{
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
    display: block;
}

ul li a
{
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 18px;

    margin-bottom: 16px;
    border-radius: 6px;

    transition: background 400ms;
}

ul li a:hover
{
    background: var(--primary-color-hover);
    transition-delay: 60ms;
}

footer
{
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
}